*{
    padding: 0;
    margin: 0;
    color: #757575;
    
}

.banner {
 position: relative;
 width: 100%;
}

.banner .bg {
    position: relative;
    width: 100%;
    height: 50vh;
   
}

h4 {
    color: white;
    font-weight: bold;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%) blur(4px);
    
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: skyblue;
}

.subheader {
    position: relative;
    align-items: center;
    text-align: center;
    color: rgb(188, 197, 206);
    width: 75%;
}

.input-group {
    width: 30%;
}

.callout {
    background-color: rgb(226, 223, 223);
    font-size: medium;
}

.callout .lead {
    font-size: larger;
    color: black;
}

.hotel-info{
    padding: 1em;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 100%;
    padding: .5em;
}



@media screen and (max-width: 600px) {
    .input-group {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
    .input-group {
        width: 50%;
    }
}


@media (max-width: 640px) {
    .banner .bg {
        margin-top: 4.5em;
    }
}